form method="POST" action="/update/#{result[0][0]}"
    input name="content" placeholder="content" type="text" value="#{result[0][2]}"
    input type="submit" value="update"
a href="javascript:history.back()"